.card {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 1rem;
}

.card img {
    border-radius: 1rem;
    max-width: 70vw;
    height: 80vh;
    transition: 0.5s linear;
}

.card p {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%);
    padding: 1rem;
    border-radius: 1rem;
    opacity: 0;
    transition: 0.5s linear;
}
.card:hover > p {
    background-color: aliceblue;
    opacity: 1;
    box-shadow: 60px 6px teal;
}
.card:hover > img {
    transform: scale(0.9);
}

@media (min-width: 640px) {
    .card img {
        max-width: 40vw;
    }
}

@media (min-width: 960px) {
    .card img {
        max-width: 30vw;
    }
} ;
